/* Main CSS stylesheet */
html,
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Georgia', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (prefers-color-scheme: light),
	screen and (prefers-color-scheme: no-preference) {
	/* Light moe */
	body {
		color: #000;
		background-color: #fff;
	}
}

@media screen and (prefers-color-scheme: dark) {
	/* Dark moe */
	body {
		color: #fff;
		background-color: #000;
	}
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 200;
}
