html,
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--top-nav-height: 2.5rem;
	--left-nav-width: 10rem;
	--right-nav-width: 10rem;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../src/assets/fonts/PT_Serif/');
}

body {
	font-size: 18px;
	font-family: 'PT Serif', 'Georgia', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
	color: #111;
	margin: 0;
}

.editor-area {
	/* padding: 0 2rem 0 2rem; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	padding-top: var(--top-nav-height);
	padding-left: calc(var(--left-nav-width) + 2rem);
	padding-right: calc(var(--right-nav-width) + 2rem);
}

.editor {
	height: 100%;
	max-width: 60rem;
	/* background-color: #eee; */
	padding: 2rem 0 8rem 0;
	flex-grow: 1;
}

.editor:focus {
	outline: none;
}

.chapter-title {
	text-align: center;
	margin: 4rem 0 5rem 0;
	font-size: 3rem;
	flex-grow: 0;
}

.top-nav {
	height: var(--top-nav-height);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: #eecccc;
}

.left-nav {
	width: var(--right-nav-width);
	position: fixed;
	top: var(--top-nav-height);
	bottom: 0;
	left: 0;

	background-color: #cceecc;
}

.right-nav {
	width: var(--right-nav-width);
	position: fixed;
	top: var(--top-nav-height);
	bottom: 0;
	right: 0;

	background-color: #ccccee;
}
